<!--reset w 980/ center hack-->

/*全部共用 start*/
html body{
	width:100%;
	}
	
/*解決fixed的問題 start*/
/*html{
	overflow: hidden;
	}
	
body{
	margin: 0px;
    overflow-y: scroll;
    height: 100%;
	}*/
/*解決fixed的問題 end*/
#bd_wrap{
	min-width:1097px;
	width:100%;
	}
#container_980{
	position:relative;
	margin:0 auto;
	width:980px;
	}
#contain{
	}
.clearfloat{
	clear:both;
	}
#top{
	float:left;
	z-index:3;
	margin-left:-12px;
	}
	
.headline{
	z-index:2;	
	}
	
#content{
	z-index:1;
	position:relative;
	}

#content_wrap{
	width:100%;
	margin-top:-50px;
	}

#bottom{
	float:left;
	width:100%;
	z-index:3;
	}

#footer{
	position: relative;	
	margin-top: 0 auto;
	height: 82px;
	clear:both;
	} 
	
#footer{
	background:#424242;
}
.foot_mail{
	padding:10px 0;
	font-family:"Arial Unicode MS", "微軟正黑體";
	font-size:0.8em;
	text-align:center;
}
.foot_mail p{
	letter-spacing:2px;
	width:100px;
	margin:0 auto;
	color:#cccccc;
	border: 1px solid #CCCCCC;
    border-radius: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
	height: 14px;
}
.foot_mail p a ,.fmB1 a{
	color:#cccccc;
}
.foot_mail p a:hover ,.fmB1 a:hover{
	color:#FF7600;
}
.copyright{
	position:relative;
	bottom:0;
	line-height:20px;
	font-family:"Arial Unicode MS", "微軟正黑體";
	font-size:0.65em;
	text-align:center;
	color:#cccccc;
	border-top:1px solid #6b6b6b;
	letter-spacing:1px;
}
/*全部共用 end*/

/*box start*/
#plugin_buy{
	left:50%;
	position:absolute;
	z-index:3;
	width:1px;
	height:1px;
	}
	
#buybtn{
	cursor:pointer;
	margin-left:241px;
	width:189px;
	height:77px;
	background-image:url(../02_img/page/buybtn/topfontbg.png);
	}
	
#buybtn_color{
	width:183px;
	height:65px;
	background-image:url(../02_img/page/buybtn/topfont.png);
	display:none;
	}
	
.box_wrap{
	position:absolute;
	z-index:4; 
	display:block; 
	width:100%; 
	height:100%; 
	display:none;
	}
	
#rightscroll{
	position:absolute;
	right:-8.5px;
	width:17px;
	z-index:4;
	}
	
#rightscroll_top{
	width:17px;
	height:16px;
	background-image:url(../02_img/page/scroll/top.jpg);
	}
	
#rightscroll_center{
	background:#F0F0F0;
	height:100%;
	}
	
#rightscroll_bottom{
	position:absolute;
	width:17px;
	height:16px;
	background-image:url(../02_img/page/scroll/bottom.jpg);
	bottom:0px;
	}
	
.box{
	position: relative;
	width:1027px;	
	top: 20px;
	margin:0 auto;
	background-color:#F9F9F9; 
	padding:15px;
	border-radius:4px;
	z-index:4;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	}
.boxbg{
	position:absolute;
	width:100%; 
	height:100%; 
	opacity: 0.3;
	background-color:#000000;
	z-index:3;
	top:0px;
	}
	
.box_close{
	position:absolute;
	z-index:5;
	right:5px;
	margin-top:-10px;
	cursor:pointer;
	}

.box_inner{
	position:relative;
	width:auto;
	height:auto;
	margin:20px;
	/*height:800px;JQ判定*/
	overflow-y:scroll;
	overflow-x:hidden;
	}	
	
.bank_cont_main {
	padding: 0px 24px;
}

.bank_cont_main li {
	line-height: 26px;
	font-size: 16px;
	color: #000000;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif, "微軟正黑體";
	padding: 0 1em;
	margin-left: 1em;
	text-indent: -1em;
	/*左右對齊*/
	text-align: justify;
	text-justify:inter-ideograph;
}

#bank_1 #bank_2{
	display:none;
	width:1000px;
	position:absolute;	
	margin:0 auto;
	z-index:4; 
	}
	
li a span	{color:#FB7C00;right: 50px;position: absolute;margin-top: 15px;}
li a:hover span	{text-decoration:underline;color:#FB7C00;}/*底線挖底加*/

#cntr		{margin-left:50%;}
#cntr img	{margin-left:-100px;}
/*box end*/

/*fb icon start*/
#fb_icon{
	position:relative;
	width:100%;
	height:20px;
	margin-left:220px;
	margin-top:-50px;
	color:#FFF;
	}	

/*fb icon end*/

/*content內容*/


/*margin-top:0px;	margin-left:0px;	margin-bottom:0px;	margin-right:0px;	cursor:pointer;*/
.page				{	float:left;}
/*0 part*/
#content0			{	height:321px;	margin-left:-88px;	position:relative;	width:1097px;	z-index:1;}
.right_wrap			{	bottom:0%;	height:191px;	position:absolute;	right:0%;	width:180px;	z-index:3;}
#rightbtn			{	bottom:-39px;}
.right				{	background-repeat:no-repeat;	cursor:pointer;	float:left;		height:34px;	margin-bottom:10px;	overflow:hidden;	width:180px;}

.right_m			{	height:34px;	margin-bottom:21px;	/**/margin-left:10px;	overflow:hidden;	position:absolute;	width:180px;}
#rightbtn_m_1 img	{	margin-top:0px;}
#rightbtn_m_2 img	{	margin-top:-54px;}
#rightbtn_m_3 img	{	margin-top:-105px;}
#rightbtn_m_4 img	{	margin-top:-157px;}

.right_o			{	display:none;	height:34px;	margin-bottom:21px;		overflow:hidden;	position:absolute;	width:180px;	z-index:2;}
#rightbtn_o_1 img	{	margin-top:0px;}
#rightbtn_o_2 img	{	margin-top:-54px;}
#rightbtn_o_3 img	{	margin-top:-105px;}
#rightbtn_o_4 img	{	margin-top:-157px;}

/*1 part*/
#content1			{	height:798px;	margin-left:-88px;	overflow:hidden;	position:relative;	width:1097px;}

.item_w				{	height:798px;	position:relative;	width:1097px;}
.title				{	background-repeat:no-repeat;	height:56px;	left:141px;	position:absolute;	top:7px;	width:297px;	z-index:2;}
.more				{	background-repeat:no-repeat;	cursor:pointer;	height:38px;	left:992px;	position:absolute;	top:746px;	width:105px;}


#title_1			{	background-image:url(../02_img/page/item/title/01.png);}
#title_2			{	background-image:url(../02_img/page/item/title/02.png);}
#title_3			{	background-image:url(../02_img/page/item/title/03.png);}
#title_4			{	background-image:url(../02_img/page/item/title/04.png);}
#more_1				{	background-image:url(../02_img/page/item/title/01_more.png);}
#more_2				{	background-image:url(../02_img/page/item/title/02_more.png);}
#more_3				{	background-image:url(../02_img/page/item/title/03_more.png);}
#more_4				{	background-image:url(../02_img/page/item/title/04_more.png);}

.item				{	cursor:pointer;	background-repeat:no-repeat;	float:left;	position:absolute;}
#item1_1			{	background-image:url(../02_img/page/item/item/01/1.png);	height:387px;	left:349px;		top:0px;	width:748px;}
#item1_2			{	background-image:url(../02_img/page/item/item/01/2.jpg);	height:342px;	left:51px;		top:128px;	width:298px;}
#item1_3			{	background-image:url(../02_img/page/item/item/01/3.jpg);	height:314px;	left:544px;		top:387px;	width:553px;}
#item1_4			{	background-image:url(../02_img/page/item/item/01/4.jpg);	height:328px;	left:51px;		top:470px;	width:466px;}

#item2_1			{	background-image:url(../02_img/page/item/item/02/1.jpg);	height:348px;	left:57px;		top:63px;	width:1040px;}
#item2_2			{	background-image:url(../02_img/page/item/item/02/2.jpg);	height:366px;	left:57px;		top:411px;	width:314px;}
#item2_3			{	background-image:url(../02_img/page/item/item/02/3.jpg);	height:366px;	left:371px;		top:411px;	width:337px;}
#item2_4			{	background-image:url(../02_img/page/item/item/02/4.jpg);	height:366px;	left:708px;		top:411px;	width:306px;}

#item3_1			{	background-image:url(../02_img/page/item/item/03/1.jpg);	height:348px;	left:0px;		top:63px;	width:1097px;}
#item3_2			{	background-image:url(../02_img/page/item/item/03/2.jpg);	height:366px;	left:88px;		top:446px;	width:340px;}
#item3_3			{	background-image:url(../02_img/page/item/item/03/3.jpg);	height:380px;	left:428px;		top:397px;	width:300px;}
#item3_4			{	background-image:url(../02_img/page/item/item/03/4.jpg);	height:380px;	left:728px;		top:397px;	width:341px;}

#item4_1			{	background-image:url(../02_img/page/item/item/04/1.jpg);	height:360px;	left:0px;		top:63px;	width:1097px;}
#item4_2			{	background-image:url(../02_img/page/item/item/04/2.jpg);	height:354px;	left:0px;		top:423px;	width:474px;}
#item4_3			{	background-image:url(../02_img/page/item/item/04/3.jpg);	height:354px;	left:474px;		top:423px;	width:332px;}
#item4_4			{	background-image:url(../02_img/page/item/item/04/4.jpg);	height:354px;	left:806px;		top:423px;	width:291px;}
/*content end*/