<!--reset w 980/ center hack-->

/*全部共用 start*/
html body{}
#wrap{
	background-image:url(../02_img/bg_ex.jpg);
	background-position:50% 0%;
	background-repeat:no-repeat;
	min-width:980px;
	overflow-x:hidden;
	position:relative;
	}
#container_980{
	position:relative;
	margin:0 auto;
	width:980px;
	}
#contain{
	}
.clearfloat{
	clear:both;
	}
#top{
	float:left;
	z-index:3;
	margin-left:-12px;
	/*margin-top:4px;
	margin-left:-4px;*/
	}
	
#content{
	z-index:1;
	position:relative;
	top:-50px;
	margin-bottom:-52px;
	}

#bottom{
	float:left;
	width:100%;
	z-index:3;
	}

#footer{
	position: relative;	
	/*margin-top: -64px; /* negative value of footer height */
	margin-top: 0 auto;
	height: 64px;
	clear:both;
	} 
	
#footer{
	background:#424242;
}
.foot_mail{
	padding:10px 0;
	font-family:"Arial Unicode MS", "微軟正黑體";
	font-size:0.8em;
	text-align:center;
}
.foot_mail p{
	letter-spacing:2px;
	width:100px;
	margin:0 auto;
	color:#cccccc;
	border: 1px solid #CCCCCC;
    border-radius: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
	height: 14px;
}
.foot_mail p a ,.fmB1 a{
	color:#cccccc;
}
.foot_mail p a:hover ,.fmB1 a:hover{
	color:#FF7600;
}
.copyright{
	position:relative;
	bottom:0;
	line-height:20px;
	font-family:"Arial Unicode MS", "微軟正黑體";
	font-size:0.65em;
	text-align:center;
	color:#cccccc;
	border-top:1px solid #6b6b6b;
	letter-spacing:1px;
}
/*全部共用 end*/

/*box start*/
.box_wrap{
	position:absolute;
	z-index:4; 
	width:100%; 
	height:100%; 
	/*opacity: 0.3;*/
	display:none;
	}

.box_close{
	position:absolute;
	z-index:5;
	right:5px;
	top:5px;
	cursor:pointer;
	}

.box{
	position: relative;
	width:1027px;	
	top: 20px;
	margin:0 auto;
	background-color:#F9F9F9; 
	padding:15px;
	border-radius:4px;
	z-index:4;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	}
.boxbg{
	position:absolute;
	/*display:block; */
	width:100%; 
	height:100%; 
	opacity: 0.3;
	background-color:#000000;
	z-index:3;
	top:0px;
	}

.box_inner{
	position:relative;
	width:auto;
	height:auto;
	margin:20px;
	/*height:800px;JQ判定*/
	overflow-y:scroll;
	overflow-x:hidden;
	}	
	
.bank_cont_main {
padding: 0px 24px;
}

.bank_cont_main li {
line-height: 26px;
font-size: 16px;
color: #000000;
font-weight: normal;
font-family: 'Open Sans', sans-serif, "微軟正黑體";
padding: 0 1em;
margin-left: 1em;
text-indent: -1em;
}

#2015lunar{
	width:1000px;
	position:absolute;	
	margin:0 auto;
	z-index:4; 
	}

/*box end*/

/*right start*/
.icon_wrap{
	position:fixed;	
	z-index:1;
	width:980px;
	height:536px;
	}
#right_icon{
	position:relative;
	margin-left:1000px;
	margin-top:180px;
	z-index:1;
	}
#icon_1{
	width:120px;
	height:134px;
	background:url(../02_img/r/r_1.png);
	cursor:pointer;
	}
#icon_2{
	width:120px;
	height:134px;
	background:url(../02_img/r/r_2.png);
	cursor:pointer;
	}
#icon_3{
	width:120px;
	height:134px;
	background:url(../02_img/r/r_3.png);
	cursor:pointer;
	}
#icon_4{
	width:120px;
	height:134px;
	background:url(../02_img/r/r_top.png);
	cursor:pointer;
	}
/*right end*/


/*content內容*/

/*

*/


/*0 part*/
.content0		{	float:left;		width:980px;	height:430px;}


.content1 ul li	{	line-height: 26px;font-size:16px;color: #000000;font-weight: normal;font-family: 'Open Sans', sans-serif, "微軟正黑體";padding: 0 1em;margin-left: 1em;text-indent: -1em;}
.notice			{}
#notice_mail	{	font-size:18px;font-weight:700;}
/*1 part*/
.content1		{	float:left;		width:980px;	height:1395px;text-align:justify; text-justify:distribute;LINE-HEIGHT:20px;}
.content1_0		{	float:left;		width:844px;	height:134px;	margin-top:0px;		margin-left:67px;	margin-bottom:0px;	margin-right:69px;	padding-top:110px;}
.content1_1		{	float:left;		width:420px;	height:30px;	margin-top:245px;	margin-left:260px;	margin-bottom:23px;	margin-right:69px;	}
.content1_2		{	float:left;		width:844px;	height:851px;	margin-top:0px;		margin-left:67px;	margin-bottom:0px;	margin-right:69px;	}


/*2 part*/
.content2		{	float:left;		width:980px;	height:208px;	margin-top:28px;}

/*content end*/