<!--reset w 980/ center hack-->

/*全部共用 start*/
html body{
	min-width:980px;
	}
	
/*解決fixed的問題 start*/
/*html{
	overflow: hidden;
	}
	
body{
	margin: 0px;
    overflow-y: scroll;
    height: 100%;
	}*/
/*解決fixed的問題 end*/
#bd_wrap{
	min-width:980px;
	width:100%;	
	overflow-x:hidden;
	position: inherit;
	}
#container_980{
	position:relative;
	margin:0 auto;
	width:980px;
	}
#contain{
	}
.clearfloat{
	clear:both;
	}
#top{
/*	float:left;*/
	z-index:2;
	/*margin-left:-12px;*/
	margin:0 auto;
	}
	
.headline{
	/**/width:980px;
	z-index:2;	
	}
	
.headline a img{
	margin-left: -12px;
	}
	
#content{
	z-index:1;
	position:relative;
	}

#content_wrap{
	width:100%;
	margin-top:-50px;
	}

#bottom{
	background: #424242;
	position: relative;
	width: 100%;
	z-index: 3;
	height: 40px;
	}
#mailbox{
	float: left;
	height:19px;
	width:102px;
	}
#footer{
	width: 980px;
	z-index: 2;
	margin: 0 auto;
	} 
	
#footer{
	background:#424242;
}
.foot_mail{
	float: left;
	font-family:"Arial Unicode MS", "微軟正黑體";
	font-size:0.8em;
	text-align:center;
}
.foot_mail p{
	letter-spacing:2px;
	width:100px;
	margin:0 auto;
	color:#cccccc;
	border: 1px solid #CCCCCC;
    border-radius: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
	height: 14px;
}
.foot_mail p a ,.fmB1 a{
	color:#cccccc;
}
.foot_mail p a:hover ,.fmB1 a:hover{
	color:#FF7600;
}
.copyright{
  float: left;
  padding: 9px;
  margin: 0 auto;
  bottom: 0;
  line-height: 20px;
  font-family: "Arial Unicode MS", "微軟正黑體";
  font-size: 0.65em;
  text-align: center;
  color: #cccccc;
  border-top: 0px solid #6b6b6b;
  letter-spacing: 1px;
}
/*全部共用 end*/

/*box start*/
#plugin_buy{
	left:50%;
	position:absolute;
	z-index:3;
	width:490px;
	height:77px;
	}
	
#buybtn{
	cursor:pointer;
	margin-left:241px;
	width:189px;
	height:77px;
	background-image:url(../02_img/page/buybtn/topfontbg.png);
	}
	
#buybtn_color{
	width:183px;
	height:65px;
	background-image:url(../02_img/page/buybtn/topfont.png);
	display:none;
	}
	
.box_wrap{
	position:absolute;
	z-index:4; 
	display:block; 
	width:100%; 
	height:100%; 
	display:none;
	}
	
#rightscroll{
	position:absolute;
	right:-8.5px;
	width:17px;
	z-index:10;
	}
	
#rightscroll_top{
	width:17px;
	height:16px;
	background-image:url(../02_img/page/scroll/top.jpg);
	}
	
#rightscroll_center{
	background:#F0F0F0;
	height:100%;
	}
	
#rightscroll_bottom{
	position:absolute;
	width:17px;
	height:16px;
	background-image:url(../02_img/page/scroll/bottom.jpg);
	bottom:0px;
	}
	
.box{
	position: relative;
	width:1027px;	
	top: 20px;
	margin:0 auto;
	background-color:#F9F9F9; 
	padding:15px;
	border-radius:4px;
	z-index:4;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	}
.boxbg{
	position:absolute;
	/*display:block; */
	width:100%; 
	height:100%; 
	opacity: 0.3;
	background-color:#000000;
	z-index:3;
	top:0px;
	}
	
.box_close{
	position:absolute;
	z-index:5;
	right:5px;
	margin-top:-10px;
	cursor:pointer;
	}

.box_inner{
	position:relative;
	width:auto;
	height:auto;
	margin:20px;
	/*height:800px;JQ判定*/
	overflow-y:scroll;
	overflow-x:hidden;
	}	
	
.bank_cont_main {
padding: 0px 24px;
}

.bank_cont_main li {
line-height: 26px;
font-size: 16px;
color: #000000;
font-weight: normal;
font-family: 'Open Sans', sans-serif, "微軟正黑體";
padding: 0 1em;
margin-left: 1em;
text-indent: -1em;
/*左右對齊*/
text-align: justify;
text-justify:inter-ideograph;
}

#bank_1 #bank_2{
	display:none;
	width:1000px;
	position:absolute;	
	margin:0 auto;
	z-index:4; 
	}
	
li a span	{color:#FB7C00;right: 50px;position: absolute;margin-top: 15px;}
li a:hover span	{text-decoration:underline;color:#FB7C00;}/*底線挖底加*/

#cntr		{margin-left:50%;}
#cntr img	{margin-left:-100px;}
/*box end*/

/*fb icon start*/
#fb_icon{
	position:relative;
	width:100px;
	height:20px;
	/*margin-left:220px;
	margin-top:-50px;*/
	margin-left:200px;
	margin-top:-20px;
	color:#FFF;
	}	

/*fb icon end*/

/*content內容*/
.btn_wrap			{	height:72px;	position: absolute;	right: -24px;	top: 50%;	margin: 0;	padding: 0;	width:24px;	}
.btn				{	background-image:url(../02_img/page/pic.png);	background-position:center;	background-repeat:no-repeat;	cursor:pointer;	height:12px;	padding:10px;	width:12px;}
.circle				{	background-image:url(../02_img/page/pic_c.png);	background-position:center;	background-repeat:no-repeat;	height:12px;	width:12px;}

#topbalckbar		{	background: #424242;  position: absolute;  width: 100%;  height: 56px;  clear: both;	z-index:2;}

.wrapper			{	background-image:url(../02_img/bg.jpg);	background-repeat:no-repeat;	background-position:50% -30px;	min-width:980px;}
.item_title			{	height:78px;	margin:0 auto;	position:relative;	/*margin-left:-12px;*/	width:980px;}
.item				{	float:left;	position:relative;}
.more				{	bottom:14px;	cursor:pointer;	height:27px;	position:absolute;	right:0px;	width:148px;	z-index:3;}

#item1_1			{	height:544px;	margin-left:1px;	margin-right:10px;	width:320px;}											/*JAWBONE*/
#item1_2			{	height:266px;	margin-bottom:12px;	margin-left:0px;	margin-right:9px;	width:320px;}						/*Epson*/
#item1_3			{	height:266px;	margin-bottom:0px;	margin-left:0px;	margin-right:9px;	width:320px;}						/*ASUS*/
#item1_4			{	height:266px;	margin-bottom:12px;	margin-left:0px;	margin-right:0px;	margin-top:-278px;	width:320px;}		/*GARMIN*/
#item1_5			{	height:266px;	margin-bottom:0px;	margin-left:0px;	margin-right:0px;	width:320px;}						/*Zepp*/

#item2_1			{	height:266px;	margin-left:1px;	margin-right:10px;	width:320px;}											/*Sony*/
#item2_2			{	height:266px;	margin-bottom:12px;	margin-left:0px;	margin-right:9px;	width:320px;}						/*B&O*/
#item2_3			{	height:266px;	margin-left:1px;	margin-right:10px;	width:320px;}											/*SENA*/
#item2_4			{	height:266px;	margin-bottom:0px;	margin-left:0px;	margin-right:9px;	width:320px;}						/*JBL*/
#item2_5			{	height:544px;	margin-top:-278px;		margin-left:0px;	margin-right:0px;	width:320px;}						/*Plantronics*/

#item3_1			{	height:266px;	margin-left:1px;	margin-right:10px;	width:320px;}											/*NOSTALGIA*/
#item3_2			{	height:266px;	margin-top:276px;	margin-left:-330px;	margin-right:10px;	width:320px;}						/*Nostalgia 熱風式爆米花機*/
#item3_3			{	height:544px;	margin-bottom:0px;	margin-left:0px;	margin-right:9px;	width:320px;}						/*大人的科學系列*/
#item3_4			{	height:266px;	margin-bottom:12px;	margin-left:0px;	margin-right:0px;	width:320px;}						/*recolte Smile Baker*/
#item3_5			{	height:266px;	margin-bottom:0px;	margin-left:0px;	margin-right:0px;	width:320px;}						/*recolte Healthy CotoCoto*/

/*margin-top:0px;	margin-left:0px;	margin-bottom:0px;	margin-right:0px;	cursor:pointer;*/
.page				{	float:left;}
/*0 part*/
#content0			{	height:310px;	min-width:980px;	position:relative;	width:980px;	z-index:1;}
.date				{	background-image:url(../02_img/date.png);	background-repeat:no-repeat;	height:35px;	left:232px;	position:absolute;	top:96px;	width:180px;	z-index:2;}
.topbtn				{	background-image:url(../02_img/plus.png);	background-repeat:no-repeat;	cursor:pointer;	height:54px;left:122px;	position:absolute;	top:242px;	width:508px;	z-index:2;}
.topbanner			{	background-repeat:no-repeat;	height:300px;	margin-left:-470px;	position:absolute;	width:1920px;}
#topbanner_1		{	background-image:url(../02_img/page/top_1.jpg);}
#topbanner_2		{	background-image:url(../02_img/page/top_2.jpg);}
#topbanner_3		{	background-image:url(../02_img/page/top_3.jpg);}

/*1 part*/
#content1			{	height:677px;	overflow:hidden;	position:relative;	width:980px;	z-index:1;}
.page_wrap			{	margin-left:-39px;}
.item_wrap			{	margin-left:39px;	position:absolute;	width:980px;}

/*content end*/