<!--reset w 980/ center hack-->

/*全部共用 start*/
html, body {

}
	
/*解決fixed的問題 start*/
/*html{
	overflow: hidden;
	}
	
body{
	margin: 0px;
    overflow-y: scroll;
    height: 100%;
	}*/
/*解決fixed的問題 end*/
#bd_wrap{
	min-width:980px;
	width:100%;	
	overflow:hidden;
	}
#container_980{
	position:relative;
	margin:0 auto;
	width:980px;
	}
#contain{
	}
.clearfloat{
	clear:both;
	}
#top{
	float:left;
	z-index:3;
	margin-left:-12px;
	}
	
.headline{
	z-index:2;	
	}
	
#content{
	z-index:1;
	position:relative;
	}

#content_wrap{
	width:100%;
	margin-top:-50px;
	}

#bottom{
	margin-top:-82px;
	float:left;
	width:100%;
	z-index:3;
	}

#footer{
	position: relative;	
	margin-top: 0 auto;
	height: 82px;
	clear:both;
	} 
	
#footer{
	background:#424242;
}
.foot_mail{
	padding:10px 0;
	font-family:"Arial Unicode MS", "微軟正黑體";
	font-size:0.8em;
	text-align:center;
}
.foot_mail p{
	letter-spacing:2px;
	width:100px;
	margin:0 auto;
	color:#cccccc;
	border: 1px solid #CCCCCC;
    border-radius: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
	height: 14px;
}
.foot_mail p a ,.fmB1 a{
	color:#cccccc;
}
.foot_mail p a:hover ,.fmB1 a:hover{
	color:#FF7600;
}
.copyright{
	position:relative;
	bottom:0;
	line-height:20px;
	font-family:"Arial Unicode MS", "微軟正黑體";
	font-size:0.65em;
	text-align:center;
	color:#cccccc;
	border-top:1px solid #6b6b6b;
	letter-spacing:1px;
}
/*全部共用 end*/

/*box start*/
#plugin_buy{
	left:50%;
	position:absolute;
	z-index:3;
	width:490px;
	height:77px;
	}
	
#buybtn{
	cursor:pointer;
	margin-left:241px;
	width:189px;
	height:77px;
	background-image:url(../02_img/page/buybtn/topfontbg.png);
	}
	
#buybtn_color{
	width:183px;
	height:65px;
	background-image:url(../02_img/page/buybtn/topfont.png);
	display:none;
	}
	
.box_wrap{
	position:absolute;
	z-index:4; 
	display:block; 
	width:100%; 
	height:100%; 
	display:none;
	}
	
#rightscroll{
	position:absolute;
	right:-8.5px;
	width:17px;
	z-index:10;
	}
	
#rightscroll_top{
	width:17px;
	height:16px;
	background-image:url(../02_img/page/scroll/top.jpg);
	}
	
#rightscroll_center{
	background:#F0F0F0;
	height:100%;
	}
	
#rightscroll_bottom{
	position:absolute;
	width:17px;
	height:16px;
	background-image:url(../02_img/page/scroll/bottom.jpg);
	bottom:0px;
	}
	
.box{
	position: relative;
	width:1027px;	
	top: 20px;
	margin:0 auto;
	background-color:#F9F9F9; 
	padding:15px;
	border-radius:4px;
	z-index:4;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	}
.boxbg{
	position:absolute;
	/*display:block; */
	width:100%; 
	height:100%; 
	opacity: 0.3;
	background-color:#000000;
	z-index:3;
	top:0px;
	}
	
.box_close{
	position:absolute;
	z-index:5;
	right:5px;
	margin-top:-10px;
	cursor:pointer;
	}

.box_inner{
	position:relative;
	width:auto;
	height:auto;
	margin:20px;
	overflow-y:scroll;
	overflow-x:hidden;
	}	
	
.bank_cont_main {
padding: 0px 24px;
}

.bank_cont_main li {
line-height: 26px;
font-size: 16px;
color: #000000;
font-weight: normal;
font-family: 'Open Sans', sans-serif, "微軟正黑體";
padding: 0 1em;
margin-left: 1em;
text-indent: -1em;
/*左右對齊*/
text-align: justify;
text-justify:inter-ideograph;
}

#bank_1 #bank_2{
	display:none;
	width:1000px;
	position:absolute;	
	margin:0 auto;
	z-index:4; 
	}
	
li a span	{color:#FB7C00;right: 50px;position: absolute;margin-top: 15px;}
li a:hover span	{text-decoration:underline;color:#FB7C00;}/*底線挖底加*/

#cntr		{margin-left:50%;}
#cntr img	{margin-left:-100px;}
.premiums img{float:right;	padding-left:10px;}
/*box end*/

/*fb icon start*/
#fb_icon{
	position:relative;
	width:100%;
	height:20px;
	margin-left:220px;
	margin-top:-50px;
	color:#FFF;
	}	
#fb_like{
	float:left;
	width:40px;
	height:20px;
	margin-bottom:3px;
	}
#fb_share{
	margin-top:3px;
	/*float:left;*/
	width:40px;
	height:20px;
	}
	
#fb_commtent{ 
	background-color: #F7F7F7;
    float: left;
    margin-left: 46px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid;
    border-radius: 7px;
    -moz-border-radius: 25px;
    border-color: #B5B1B1;
	padding:10px;
	position:relative;
	width:960px;
	}
/*fb icon end*/

/*content內容*/

/*margin-top:0px;	margin-left:0px;	margin-bottom:0px;	margin-right:0px;	cursor:pointer;*/

.solid_icon		{bottom:0%;	left:50%;	margin-bottom:90px;	margin-left:540px;	position:fixed;}
.gotop			{
	background-image:url(../02_img/page/gotop.png);
	background-repeat:no-repeat;
	background-size:100%;
	cursor:pointer;
	height:58px;
	position:relative;
	width:56px;
	}
	
#content0		{height:696px;	position:relative;	width:980px;}
.item_list_link	{bottom:37px;	height:218px;	position:absolute;	width:980px;}
#content1		{height:2271px;	position:relative;	width:980px;}

.item_wrap		{height:512px;	margin-bottom:31px;	position:relative;	width:980px;}
#item_wrap_1	{margin-top:16px;}
#item_wrap_2	{}
#item_wrap_3	{margin-top:47px;}
#item_wrap_4	{}

.item_w			{float:left;	height:239px;	overflow:hidden;	position:relative;	width:239px;}
.item1_w, .item2_w,	.item3_w, .item4_w	{margin-bottom:6px;	margin-right:6px;}
.item5_w, .item6_w,	.item7_w, .item8_w	{margin-right:6px;}
	
	.item		{background-repeat:no-repeat;	height:239px;	width:239px;}
	.item_m		{background-repeat:no-repeat;	height:239px;	margin-top:-166px;	width:239px;}
	
	/*1 start*/
	#item_1_1	{background-image:url(../02_img/page/1/1.jpg);}
	/*#item_1_1_m	{background-image:url(../02_img/page/1/1.png);}*/
	#item_1_2	{background-image:url(../02_img/page/1/2.jpg);}
	#item_1_2_m	{background-image:url(../02_img/page/1/2.png);}
	#item_1_3	{background-image:url(../02_img/page/1/3.jpg);}
	#item_1_3_m	{background-image:url(../02_img/page/1/3.png);}
	#item_1_4	{background-image:url(../02_img/page/1/4.jpg);}
	#item_1_4_m	{background-image:url(../02_img/page/1/4.png);}
	#item_1_5	{background-image:url(../02_img/page/1/5.jpg);}
	#item_1_5_m	{background-image:url(../02_img/page/1/5.png);}
	#item_1_6	{background-image:url(../02_img/page/1/6.jpg);}
	#item_1_6_m	{background-image:url(../02_img/page/1/6.png);}
	#item_1_7	{background-image:url(../02_img/page/1/7.jpg);}
	#item_1_7_m	{background-image:url(../02_img/page/1/7.png);}
	#item_1_8	{background-image:url(../02_img/page/1/8.jpg);}
	#item_1_8_m	{background-image:url(../02_img/page/1/8.png);}
	/*1 end*/
	
	/*2 start*/
	#item_2_1	{background-image:url(../02_img/page/2/1.jpg);}
	#item_2_1_m	{background-image:url(../02_img/page/2/1.png);}
	#item_2_2	{background-image:url(../02_img/page/2/2.jpg);}
	#item_2_2_m	{background-image:url(../02_img/page/2/2.png);}
	#item_2_3	{background-image:url(../02_img/page/2/3.jpg);}
	#item_2_3_m	{background-image:url(../02_img/page/2/3.png);}
	#item_2_4	{background-image:url(../02_img/page/2/4.jpg);}
	/*#item_2_4_m	{background-image:url(../02_img/page/2/4.png);}*/
	#item_2_5	{background-image:url(../02_img/page/2/5.jpg);}
	#item_2_5_m	{background-image:url(../02_img/page/2/5.png);}
	#item_2_6	{background-image:url(../02_img/page/2/6.jpg);}
	#item_2_6_m	{background-image:url(../02_img/page/2/6.png);}
	#item_2_7	{background-image:url(../02_img/page/2/7.jpg);}
	#item_2_7_m	{background-image:url(../02_img/page/2/7.png);}
	#item_2_8	{background-image:url(../02_img/page/2/8.jpg);}
	#item_2_8_m	{background-image:url(../02_img/page/2/8.png);}
	/*2 end*/
	
	/*3 start*/
	#item_3_1	{background-image:url(../02_img/page/3/1.jpg);}
	/*#item_3_1_m	{background-image:url(../02_img/page/3/1.png);}*/
	#item_3_2	{background-image:url(../02_img/page/3/2.jpg);}
	#item_3_2_m	{background-image:url(../02_img/page/3/2.png);}
	#item_3_3	{background-image:url(../02_img/page/3/3.jpg);}
	#item_3_3_m	{background-image:url(../02_img/page/3/3.png);}
	#item_3_4	{background-image:url(../02_img/page/3/4.jpg);}
	#item_3_4_m	{background-image:url(../02_img/page/3/4.png);}
	#item_3_5	{background-image:url(../02_img/page/3/5.jpg);}
	#item_3_5_m	{background-image:url(../02_img/page/3/5.png);}
	#item_3_6	{background-image:url(../02_img/page/3/6.jpg);}
	#item_3_6_m	{background-image:url(../02_img/page/3/6.png);}
	#item_3_7	{background-image:url(../02_img/page/3/7.jpg);}
	#item_3_7_m	{background-image:url(../02_img/page/3/7.png);}
	#item_3_8	{background-image:url(../02_img/page/3/8.jpg);}
	#item_3_8_m	{background-image:url(../02_img/page/3/8.png);}
	/*3 end*/
	
	/*4 start*/
	#item_4_1	{background-image:url(../02_img/page/4/1.jpg);}
	#item_4_1_m	{background-image:url(../02_img/page/4/1.png);}
	#item_4_2	{background-image:url(../02_img/page/4/2.jpg);}
	#item_4_2_m	{background-image:url(../02_img/page/4/2.png);}
	#item_4_3	{background-image:url(../02_img/page/4/3.jpg);}
	#item_4_3_m	{background-image:url(../02_img/page/4/3.png);}
	#item_4_4	{background-image:url(../02_img/page/4/4.jpg);}
	/*#item_4_4_m	{background-image:url(../02_img/page/4/4.png);}*/
	#item_4_5	{background-image:url(../02_img/page/4/5.jpg);}
	#item_4_5_m	{background-image:url(../02_img/page/4/5.png);}
	#item_4_6	{background-image:url(../02_img/page/4/6.jpg);}
	#item_4_6_m	{background-image:url(../02_img/page/4/6.png);}
	#item_4_7	{background-image:url(../02_img/page/4/7.jpg);}
	#item_4_7_m	{background-image:url(../02_img/page/4/7.png);}
	#item_4_8	{background-image:url(../02_img/page/4/8.jpg);}
	#item_4_8_m	{background-image:url(../02_img/page/4/8.png);}
	/*4 end*/
	
.more			{background-image:url(../02_img/page/more.png);	background-repeat:no-repeat;	bottom:0px;	height:19px;	position:absolute;	right:8px;	width:73px;}
.more:hover		{border-bottom:3px; border-bottom-color:#5C5C5C;	border-bottom-style:dashed;}
/*content end*/