<!--reset w 980/ center hack-->

/*全部共用 start*/
body {
	/*background-image:url(../02_img/bg.jpg);*/
	}
#wrap{
	/*position:absolute;*/
	}
#container_980{
	position:relative;
	margin:0 auto;
	width:980px;
	}
#contain{
	/*overflow:hidden;*/
	}	
.clearfloat{
	clear:both;
	}
#top{
	float:left;
	z-index:3;
	margin-left:-12px;
	/*margin-top:4px;
	margin-left:-4px;*/
	}
.headline{
	z-index:3;
	}
#content{
	z-index:1;
	position:relative;
	top:-50px;
	/*margin-bottom:-52px;*/
	}
	
.content0 .content1 .content2 .content3{float:left;	}




#bottom{
	/*margin-top:30px;*/
	float:left;
	width:100%;
	z-index:3;
	}

#footer{
	position: relative;	
	/*margin-top: -64px; /* negative value of footer height */
	margin-top: 0 auto;
	height: 82px;/*footer高*/
	clear:both;
	} 
	
#footer{
	background:#424242;
}
.foot_mail{
	padding:10px 0;
	font-family:"Arial Unicode MS", "微軟正黑體";
	font-size:0.8em;
	text-align:center;
}
.foot_mail p{
	letter-spacing:2px;
	width:100px;
	margin:0 auto;
	color:#cccccc;
	border: 1px solid #CCCCCC;
    border-radius: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
	height: 14px;
}
.foot_mail p a ,.fmB1 a{
	color:#cccccc;
}
.foot_mail p a:hover ,.fmB1 a:hover{
	color:#FF7600;
}
.copyright{
	position:relative;
	bottom:0;
	line-height:20px;
	font-family:"Arial Unicode MS", "微軟正黑體";
	font-size:0.65em;
	text-align:center;
	color:#cccccc;
	border-top:1px solid #6b6b6b;
	letter-spacing:1px;
}
/*全部共用 end*/

/*box start*/
.box_wrap{
	position:absolute;
	z-index:4; 
	display:block; 
	width:100%; 
	height:100%; 
	/*opacity: 0.3;*/
	display:none;
	}
	
.box{
	position: relative;
	width:1027px;	
	top: 20px;
	margin:0 auto;
	background-color:#F9F9F9; 
	padding:15px;
	border-radius:4px;
	z-index:4;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	}
.boxbg{
	position:absolute;
	/*display:block; */
	width:100%; 
	height:100%; 
	opacity: 0.3;
	background-color:#000000;
	z-index:3;
	top:0px;
	}
	
.box_close{
	position:absolute;
	z-index:5;
	right:5px;
	margin-top:-10px;
	cursor:pointer;
	}

.box_inner{
	position:relative;
	width:auto;
	height:auto;
	margin:20px;
	/*height:800px;JQ判定*/
	overflow-y:scroll;
	overflow-x:hidden;
	}	
	
.bank_cont_main {
padding: 0px 24px;
}

.bank_cont_main li {
line-height: 26px;
font-size: 16px;
color: #000000;
font-weight: normal;
font-family: 'Open Sans', sans-serif, "微軟正黑體";
padding: 0 1em;
margin-left: 1em;
text-indent: -1em;
}

#bank_1 #bank_2 #bank_3 #bank_4 #bank_5{
	display:none;
	width:1000px;
	position:absolute;	
	margin:0 auto;
	z-index:4; 
	}
span a:hover {color:#3165F1;}

/*box end*/

/*fb icon start*/
#fb_icon{
	position:relative;
	height:20px;
	margin-left:220px;
	margin-top:-22px;
	}	

/*fb icon end*/


/*content內容*/

.content0  {position:relative; width:980px; height:315px;}
.content1  {position:relative; width:980px; height:315px;	margin-bottom:9px;}
.content2  {position:relative; width:980px; height:380px;	margin-bottom:158px;}
.content3  {position:relative; width:980px; height:395px;}


.content2_1{position:relative; width:315px; height:380px; float:left; margin-top:0px;  margin-right:8px; margin-left:8px; cursor:pointer;}
.content2_2{position:relative; width:315px; height:380px; float:left; margin-top:0px;  margin-right:8px; margin-left:0px; cursor:pointer;}
.content2_3{position:relative; width:315px; height:380px; float:left; margin-top:0px; 					 margin-left:0px; cursor:pointer;}




/*content end*/
